* {
    font-size: 1.1vw;
}

@media only screen and (max-width: 767px) {
    * {
        font-size: 3vw;
    }
    
    .accordion-row {
        flex-direction: column;
    }

    .cv_tiles {
        width: 90% !important;
        margin: 10px auto !important;
        height: 30vw !important;
        display: flex;
    }

    .cv_tiles:active {
        height: 10vw !important;
    }

    .cv_tiles.deactivated {
        pointer-events: none;
        opacity: 0.5;
    }
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    height: 100vh;
    position: relative;
}

#tile_1, #tile_2, #tile_3, #tile_4 {
    margin-top: 1px;
    color: white;
    vertical-align: middle;
}

#tile_1 {
    background-color: #4f84a4;
}

#tile_2 {
    background-color: #4f8fb6;
}

#tile_3 {
    background-color: #5d9ec6;
}

#tile_4 {
    background-color: #71b5e2;
}


.tiles_headlines {
    margin: auto;
    display: flex;
    justify-content: center;
    font-size: 1rem;
    margin: auto;
}

.accordion-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.accordion-row .card {
    flex: 1;
    margin-right: 5px;
}

.accordion-row .card-header {
    text-align: center;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    padding: 10px;
}

.accordion-row .card-header button {
    width: 100%;
    font-size: 16px;
}

.accordion-row .card-header:last-child {
    margin-right: 0;
}

/* Optional: Collapsed state button styling */
button[aria-expanded="true"] {
    background-color: #007bff;
    color: #fff;
}

button[aria-expanded="false"] {
    background-color: #f8f9fa;
    color: #007bff;
}


.institutes {
    display: flex;
    width: 95%;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px;
}

.blue {
    background-color: rgba(0, 123, 255, 0.05);
    border-radius: 10px;
}

.light_blue {
    background-color: rgba(0, 0, 0, 0.036);
    border-radius: 10px;
}

.logo img {
    width: 70px;
    padding: 10px;
}

#logo_qual {
    width: 50%;
    margin: 10% 5%;
}

.institutes_details {
    display: flex;
}

.line {
    position: relative;
    border-left: 2px solid rgba(128, 128, 128, 0.449);
    margin-top: 25px;
    color: rgba(128, 128, 128, 0.549);
}

.line::before {
    content: "\2022";
    position: absolute;
    left: -8px;
    top: -10px;
    transform: translateY(-50%);
    font-size: 2rem;
}

.details, .details_qual {
    padding-left: 10px;
}

.details h3, .details_qual h3 {
    margin: 8px 0;
}

.details p, .details_qual p {
    padding: 0;
    margin: 5px 0;
}

.details span, .details_qual span {
    color: gray;
}

.details_qual {
    display: flex;
}

footer {
    background-color: #333;
    color: white;
    position: relative;
}

footer > ul > li {
    color: white;
}

footer a {
    text-decoration: none;
    color: white !important;
}