html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    height: 100vh; 
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    background-image: url("../images/bg_abstract_blue.jpg");
    opacity: 0.2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 10px;
    background-size: contain;
    padding: 0 1rem; /* Add padding to ensure content is not too close to the edges */
}

header > h2 {
    position: relative;
    top: -1vw;
}

#menu-icon {
    display: none;
    cursor: pointer;
    font-size: 30px;
    position: absolute;
    right: 20px;
    top: 20px;
}

nav {
    width: 90%;
    position: relative;
    padding-bottom: 2%;
}

nav > ul {
    display: flex;
    justify-content: space-evenly;
    padding: 1% 0;
    margin: 0;
    background-color: #333333cf;
    list-style: none; /* Remove default list styling */
    border: none; /* Ensure no borders are added */
}

nav > ul > li {
    color: #f8f9fb;
    display: block;
    font-weight: 800;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}
  
nav > ul > li:hover {
    color: #8fc1e2;
    font-weight: 800;
    cursor: pointer;
    font-size: 1.1rem;
}

li > a {
    color: inherit;
    text-decoration: none;
    display: block; /* Ensure full clickable area */
}

.container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 4%;
}

.image-container {
    width: 33.33%;
    padding: 2%;
}

.image-container img {
    width: 100%;
    height: auto;
}

.image-container p {
    background-color: rgba(255,255,255, 0.7);
    position: absolute;
    bottom: 2.7%;
    font-size: 1rem;
    padding: 2% 10%;
    font-weight: bold;
}

.text-container {
    width: 70%;
    height: auto;
    padding: 0.4%;
    border: 10px outset #8fc1e2;
    box-sizing: border-box;
}

.text-box-border {
    border: 7px outset;
}

.text-box {
    background-color: #8fc1e28f;
    margin: 1%;
    padding: 1%;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
}

.text-box h2 {
    font-size: 0.9rem;
}

.new_section {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    margin-bottom: 6%;
}

.box_header {
    position: relative;
}

.stadiodromia, .ereynhtika_programmata, .dhmosieuseis {
    border: 1px solid #5a798e;
    border-width: 6px 12px 0px 0px;
    border-radius: 10px;
    width: 25%;
    margin: 1%;
}

.box_header button {
    position: relative;
    left: 10vw;
    bottom: -9vw;
    background-color: black;
    border: none;
    padding: 3% 6%;
    font-size: 0.8rem;
    font-weight: 600;
    color: #f8f9fb;
}

.box_header button:hover {
    padding: 4% 7%;
    background-color: #5a798e;
}

.box_header h3 {
    font-size: 0.9rem;
    font-weight: bolder;
    position: absolute;
    top: 5px;
    margin-left: -1px;
    color: black;
    background-color: #8fc1e2;
    border-radius: 10px;
}

#ereyvhtika {
    padding: 1.5vh 0.6vw;
}

#stadiodromia_1, #dhmosieuseis {
    padding: 1.5vh 4vw;
}

.publication-container {
    width: 60%;
    display: flex;
    justify-content: space-between;
    position: relative;
    left: 25%;
    margin-bottom: 4%;
    background-color: #8fc1e28f;
    border: 10px solid;
    border-radius: 10px;
    border-width: 6px 0px;
}

.publication-container h3 {
    margin: 40% 10%;
    text-align: center;
    font-size: 0.8rem;
    font-weight: bolder;
    line-height: 1.8;
    border: 10px solid;
    border-radius: 10px;
    border-width: 6px 0px 0px 12px;
}

.publication {
    width: 30%;
    padding: 3vw;
    text-align: center;
    display: none;
}

.publication img {
    width: 100%;
    height: 90%;
    margin: auto;
}

.publication img:hover {
    width: 105%;
    height: 95%;
}

.publication-container .publication:nth-child(-n+3) {
    display: block;
}

footer {
    background-color: #333;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    position: relative;
    bottom: 0%;
}

footer h6 {
    color: white;
    margin-left: 10px; 
    font-size: 0.5rem;
}

footer ul {
    color: white;
    list-style: none; /* Remove default list styling */
}

footer > ul > li {
    font-size: 10px;
    list-style-type: none;
    padding-right: 10px;
}

@media only screen and (max-width: 768px) {
    * {
        font-size: 3vw;
    }

    header > h2 {
        display: none;
    }

    body::before {
        content: "";
        position: absolute;
        background-image: url("../images/bg_abstract_blue.jpg");
        opacity: 0.2;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    #menu-icon {
        display: block;
        cursor: pointer;
        font-size: 30px;
        position: fixed; /* Changed from absolute to fixed */
        right: 20px;
        top: 20px;
        z-index: 1000; /* Ensure it is on top */
    }

    nav {
        max-height: 0;
        overflow: hidden;
        flex-direction: column;
        position: relative;
        top: 65px;
        left: 5%;
        width: 90%;
        background-color: #7d7d7d;
        transition: max-height 0.5s ease-in-out;
        z-index: 999; 
        border: none; 
    }

    nav.active {
        max-height: 300px;
    }
    
    nav ul {
        flex-direction: column;
        text-align: center;
        margin: 0;
        padding: 0;
    }

    nav ul li {
        margin: 10px 0;
    }

    .container,
    .new_section,
    .slideshow-publications,
    footer {
        flex-direction: column;
        width: 100%;
        margin: 0;
        position: relative;
        top: 100px;
    }

    .container > .image-container {
        display: none;
    }

    .container .text-container,
    .new_section > div {
        width: 80%;
        margin: 0;
    }

    .new_section {
        height: 40%;
        display: flex;
        align-items: center;
    }

    .box_header button {
        position: relative;
        left: 45vw;
        bottom: -12vw;
        background-color: black;
        border: none;
        padding: 3% 6%;
        font-size: 0.8rem;
        font-weight: 600;
        color: #f8f9fb;
    }

    .stadiodromia, .ereynhtika_programmata, .dhmosieuseis {
        height: 200px;
    }

    .publication-container > div > h3 {
        position: relative;
        left: -25vw;
    }

    .publication img {
        width: 80px;
        margin: auto;
        position: relative;
        left: -20vw;
    }

    .publication-container .publication:nth-child(-n+2) {
        display: block;
    }

    .publication-container .publication:nth-child(n+3) {
        display: none;
    }

    .publication {
        width: calc(50% - 10px); /* Adjust width for smaller screens */
        margin: 10px auto; /* Center align the images */
    }

    footer {
        padding: 20px;
        position: relative;
        bottom: auto;
        flex-direction: column-reverse;
    }

    footer h6 {
        font-size: 0.6rem;
        text-align: right;
    }

    footer ul li {
        font-size: 0.7rem;
    }
}
