html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    height: 100vh; 
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    background-image: url("../images/bg_abstract_blue.jpg");
    opacity: 0.2;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.container {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
}

.image-container {
    width: 33.33%;
    padding: 2%;
}

.image-container img {
    width: 100%;
    height: auto;
}

.image-container p {
    background-color: rgba(255,255,255, 0.7);
    position: absolute;
    bottom: 2.7%;
    font-size: 1rem;
    padding: 2% 10%;
    font-weight: bold;
}

.text-container {
    width: 60%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.4%;
    box-sizing: border-box;
}

#typeit-container {
    width: 100%; 
    text-align: center; 
    font-size: 1rem; 
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600; 
}

.new_section {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    margin-bottom: 6%;
}

.box_header {
    position: relative;
}

.stadiodromia, .ereynhtika_programmata, .dhmosieuseis {
    border: 1px solid #5a798e;
    border-width: 6px 12px 0px 0px;
    border-radius: 10px;
    width: 25%;
    margin: 1%;
}

.box_header button {
    position: relative;
    left: 10vw;
    bottom: -9vw;
    background-color: black;
    border: none;
    padding: 3% 6%;
    font-size: 0.8rem;
    font-weight: 600;
    color: #f8f9fb;
}

.box_header button:hover {
    padding: 4% 7%;
    background-color: #5a798e;
}

.box_header h3 {
    font-size: 0.9rem;
    font-weight: bolder;
    position: absolute;
    top: 5px;
    margin-left: -1px;
    color: black;
    background-color: #8fc1e2;
    border-radius: 10px;
}

#ereyvhtika {
    padding: 1.5vh 0.6vw;
}

#stadiodromia_1, #dhmosieuseis {
    padding: 1.5vh 4vw;
}

.slideshow-publications {
    display: flex;
    align-items: center;
    justify-content: center;
}

.publication-container {
    width: 95%;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    margin-bottom: 4%;
    background-color: #8fc1e28f;
    border: 10px solid;
    border-radius: 10px;
    border-width: 6px 0px;
}

.publication-container h3 {
    margin: 40% 10%;
    text-align: center;
    font-size: 0.8rem;
    font-weight: bolder;
    line-height: 1.8;
    border: 10px solid;
    border-radius: 10px;
    border-width: 6px 0px 0px 12px;
}

.publication {
    width: 15%;
    padding: 1vw;
    text-align: center;
    display: none;
}

.publication img {
    width: 100%;
    height: 90%;
    margin: auto;
}

.publication img:hover {
    width: 105%;
    height: 95%;
}

.publication-container .publication:nth-child(-n+3) {
    display: block;
}

footer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    position: relative;
    bottom: 0%;
}

footer h6 {
    color: white;
    margin-left: 10px; 
    font-size: 0.5rem;
}

footer ul {
    color: white;
    list-style: none; /* Remove default list styling */
}

footer > ul > li {
    font-size: 10px;
    list-style-type: none;
    padding-right: 10px;
}


@media only screen and (max-width: 767px) {
    * {
        font-size: 3vw;
    }

    .new_section,
    .slideshow-publications,
    footer {
        flex-direction: column;
        width: 100%;
        margin: 10px;
        position: relative;
    }

    .container .text-container,
    .new_section > div {
        width: 80%;
        margin: 0;
    }

    .container {
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .image-container {
        width: 50.33%;
        padding: 2%;
    }
    
    .image-container img {
        width: 100%;
        height: auto;
    }

    .text-container {
        height: 100px;
    }
    
    .new_section {
        height: 50%;
        display: flex;
        align-items: center;
        padding: 5vw;
    }

    .box_header button {
        position: relative;
        left: 35vw;
        bottom: -10vw;
        background-color: black;
        border: none;
        padding: 3% 6%;
        font-size: 0.8rem;
        font-weight: 600;
        color: #f8f9fb;
    }

    .stadiodromia, .ereynhtika_programmata, .dhmosieuseis {
        height: 200px;
    }

    .slideshow-publications {
        width: 100%;
        display: flex;
    }

    .publication-container {
        width: 100%;
        position: relative;
    }

    .publication-container > div > h3 {
        position: relative;
    }

    .publication img {
        width: 18vw;
        margin: auto;
        position: relative;
    }

    .publication-container .publication:nth-child(-n+2) {
        display: block;
    }

    .publication-container .publication:nth-child(n+3) {
        display: none;
    }

    .publication {
        width: calc(50% - 50px); /* Adjust width for smaller screens */
    }

    footer {
        padding: 20px;
        position: relative;
        bottom: auto;
        flex-direction: column-reverse;
    }

    footer h6 {
        font-size: 0.7rem;
        text-align: right;
    }

    footer ul li {
        font-size: 0.8rem;
        padding: 0px 0;
    }
}
